table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    text-align: center;
    padding: 8px;
}
th {
    border-bottom: 2px solid black;
    font-weight: bold;
    color: grey;
    background-color: rgb(204, 204, 204);
}
td:hover {
    background-color: rgb(97, 97, 97);
    color: white;
}
tr:nth-child(even){
    background-color: lightgrey;
}